* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 640px;
  flex-wrap: wrap;
  border: 5px solid rgb(98, 37, 37);
  background-color: rgb(71, 71, 71);
}

.square {
  width: 10px;
  height: 10px;
  background: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: 2.5s ease;
}

/* Чтобы квадратики окрашивались сразу, а не с задержкой.*/
.square:hover {
  transition-duration: 0s;
}
